In [2]:
pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.9-cp311-cp311-win_amd64.whl.metadata (4.5 kB)
Using cached psycopg2-2.9.9-cp311-cp311-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [76]:
import psycopg2

In [107]:
p_db= psycopg2.connect(host='localhost', user='postgres', password='123456', database='phonepe_pulse', port=5432)
cursor= p_db.cursor()

In [78]:
import pandas as pd
import json
import os

In [ ]:
#Agg Trans

In [79]:
path = "C:\\Users\\Saravanan\\OneDrive\\Desktop\\PhonePe\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"
Agg_state=os.listdir(path)

In [80]:
AT={'State':[], 'Year':[],'Quarter':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state:
    a_i=path+i+"/"
    Agg_year=os.listdir(a_i)

    for j in Agg_year:
        a_j=a_i+j+"/"
        Agg_year_list=os.listdir(a_j)

        for k in Agg_year_list:
            a_k=a_j+k
            Data=open(a_k,'r')
            D=json.load(Data)

            for z in D['data']['transactionData']:
              Name=z['name']
              count = z['paymentInstruments'][0]['count']
              amount = z['paymentInstruments'][0]['amount']

              AT['Transacion_type'].append(Name)
              AT['Transacion_count'].append(count)
              AT['Transacion_amount'].append(amount)
              AT['State'].append(i)
              AT['Year'].append(j)
              AT['Quarter'].append(int(k.strip('.json')))


Agg_T=pd.DataFrame(AT)
#print(Agg_T)

Agg User

In [81]:
path2="C:\\Users\Saravanan\\OneDrive\\Desktop\\PhonePe\\pulse\\data\\aggregated\\user\\country\\india\\state\\"
Agg_state_User=os.listdir(path2)

In [82]:
AU = {'Brand_type': [],'Users_count': [],'Percentage': [],'State': [],'Year': [],'Quarter': []}

In [83]:
for i in Agg_state_User:
    p_i = path2 + i + "/"
    Agg_user_year = os.listdir(p_i)

    for j in Agg_user_year:
        p_j = p_i + j + "/"
        Agg_user_year_list = os.listdir(p_j)

        for k in Agg_user_year_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                B = json.load(Data)

            #print(B)

            if B['data'].get("usersByDevice") is not None:

                for z in B['data']["usersByDevice"]:
                 brand = z['brand']
                 count = z['count']
                 percen = z['percentage']

                 AU['Brand_type'].append(brand)
                 AU['Users_count'].append(count)
                 AU['Percentage'].append(percen)
                 AU['State'].append(i)
                 AU['Year'].append(j)
                 AU['Quarter'].append(int(k.strip('.json')))


Agg_u=pd.DataFrame(AU)
#print(Agg_u)

In [ ]:
Agg_u

In [ ]:
#Map Trans

In [84]:
path3="C:\\Users\\Saravanan\\OneDrive\\Desktop\\PhonePe\\pulse\\data\\map\\transaction\\hover\\country\\india\\state\\"
Map_Tran=os.listdir(path3)

In [85]:
MT={'State':[], 'Year':[],'Quarter':[],'Districts':[], 'Transaction_Count':[], 'Transaction_amount':[]}

In [86]:
for i in Map_Tran:
    a_i=path3+i+"/"
    Map_year=os.listdir(a_i)

    for j in Map_year:
        a_j=a_i+j+"/"
        Map_year_list=os.listdir(a_j)

        for k in Map_year_list:
            a_k=a_j+k
            Data=open(a_k,'r')
            D=json.load(Data)
            #print(D)

            for z in D['data']['hoverDataList']:
              Name=z['name']
              count = z['metric'][0]['count']
              amount = z['metric'][0]['amount']

              MT['Districts'].append(Name)
              MT['Transaction_Count'].append(count)
              MT['Transaction_amount'].append(amount)
              MT['State'].append(i)
              MT['Year'].append(j)
              MT['Quarter'].append(int(k.strip('.json')))

Map_T=pd.DataFrame(MT)
#print(Map_T)

In [79]:
Map_T

,State,Year,Quarter,Districts,Transaction_Count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
17559,west-bengal,2023,4,nadia district,36242432,6.879568e+10
17560,west-bengal,2023,4,birbhum district,20708496,3.690499e+10
17561,west-bengal,2023,4,purba medinipur district,40572042,7.981990e+10
17562,west-bengal,2023,4,maldah district,34654950,6.416729e+10
17563,west-bengal,2023,4,darjiling district,16807885,2.793986e+10

In [ ]:
#Map User

In [87]:
path4="C:\\Users\\Saravanan\\OneDrive\\Desktop\\PhonePe\\pulse\\data\\map\\user\\hover\\country\\india\\state\\"
Map_User=os.listdir(path4)

In [88]:
MU={'State':[], 'Year':[],'Quarter':[],'Districts':[], 'Registered_Users':[], 'app_opens':[]}

In [89]:
for i in Map_User:
    p_i = path4 + i + "/"
    Map_user_year = os.listdir(p_i)

    for j in Map_user_year:
        p_j = p_i + j + "/"
        Map_user_year_list = os.listdir(p_j)

        for k in Map_user_year_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                B = json.load(Data)

            #print(B)

            for z in B['data']["hoverData"]:
                 region_name = z
                 reg_users = B['data']["hoverData"][z]['registeredUsers']
                 appOpens = B['data']["hoverData"][z]['appOpens']

                 
                 MU['Districts'].append(region_name)
                 MU['Registered_Users'].append(reg_users)
                 MU['app_opens'].append(appOpens)
                 MU['State'].append(i)
                 MU['Year'].append(j)
                 MU['Quarter'].append(int(k.strip('.json')))


Map_u=pd.DataFrame(MU)
#Map_u

In [ ]:
#Top Trans

In [90]:
path5="C:\\Users\\Saravanan\\OneDrive\\Desktop\\PhonePe\\pulse\\data\\top\\transaction\\country\\india\\state\\"
Map_Tran=os.listdir(path5)

In [91]:
TT={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'Transaction_count':[], 'Transaction_amount':[]}

In [92]:
for state in Map_Tran:
    state_path=path5+state+"/"
    top_year=os.listdir(state_path)
    for year in top_year:
        year_path=state_path+year+"/"
        top_year_list=os.listdir(year_path)
        for j_file in top_year_list:
            j_file_path=year_path+j_file
            mode_of_operation='r'
            Data=open(j_file_path,mode_of_operation)
            D7=json.load(Data)
            #print(D7)
            for data in D7['data']['pincodes']:
              entityname=data['entityName']
              count=data['metric']['count']
              amount=data['metric']['amount']

              TT['Pincodes'].append(entityname)
              TT['Transaction_count'].append(count)
              TT['Transaction_amount'].append(amount)
              TT['State'].append(state)
              TT['Year'].append(year)
              TT['Quater'].append(int(j_file.strip('.json')))

Top_trans=pd.DataFrame(TT)
#print(Top_trans)

In [ ]:
#Top User

In [93]:
path6="C:\\Users\\Saravanan\\OneDrive\\Desktop\\PhonePe\\pulse\\data\\top\\user\\country\\india\\state\\"
Map_Tran=os.listdir(path6)

In [94]:
TU={'State':[], 'Year':[],'Quater':[],'Pincodes':[], 'Registered_Users':[]}

In [95]:
for state in Map_Tran:
    state_path=path6+state+"/"
    top_year=os.listdir(state_path)
    for year in top_year:
        year_path=state_path+year+"/"
        top_year_list=os.listdir(year_path)
        for j_file in top_year_list:
            j_file_path=year_path+j_file
            mode_of_operation='r'
            Data=open(j_file_path,mode_of_operation)
            D8=json.load(Data)
            #print(D8)
            try:
                for data in D8['data']['pincodes']:
                    pincodes=data['name']
                    registereduser=data['registeredUsers']

                    TU['Pincodes'].append(pincodes)
                    TU['Registered_Users'].append(registereduser)
                    TU['State'].append(state)
                    TU['Year'].append(year)
                    TU['Quater'].append(int(j_file.strip('.json')))
            except:
                 pass

Top_user=pd.DataFrame(TU)
#print(Top_user)

In [ ]:
#Agg Trans

In [96]:
create_query='''create table if not exists agg_transaction(State VARCHAR(200),
                                                            Year int,
                                                            Quater int,
                                                            Transaction_type VARCHAR(200),
                                                            Transaction_Count BIGINT,
                                                            Transaction_Amount BIGINT
                                                            )'''
cursor.execute(create_query)
p_db.commit()
        
insert_query=''' INSERT into agg_transaction(State, Year, Quater, Transaction_type, Transaction_Count, Transaction_Amount )
                    
                                        
                                        values(%s,%s,%s,%s,%s,%s)'''
data_from_agg_transaction=Agg_T.values.tolist()

cursor.executemany(insert_query,data_from_agg_transaction)
p_db.commit()

In [ ]:
#Agg User

In [97]:
create_query='''create table if not exists agg_user(State VARCHAR(200),
                                                            Year int,
                                                            Quater int,
                                                            Brands VARCHAR(200),
                                                            Transaction_Count BIGINT,
                                                            Percentage FLOAT
                                                            )'''
cursor.execute(create_query)
p_db.commit()

insert_query=''' INSERT into agg_user(State, Year, Quater, Brands, Transaction_Count, Percentage )


                                        values(%s,%s,%s,%s,%s,%s)'''
data_from_agg_user=Agg_u.values.tolist()

cursor.executemany(insert_query,data_from_agg_user)
p_db.commit()

In [98]:
create_query='''create table if not exists map_transaction(State VARCHAR(200),
                                                            Year int,
                                                            Quater int,
                                                            Districts VARCHAR(200),
                                                            Transaction_Count BIGINT,
                                                            Transaction_amount BIGINT
                                                            )'''
cursor.execute(create_query)
p_db.commit()

insert_query=''' INSERT into map_transaction(State, Year, Quater, Districts, Transaction_Count, Transaction_amount )


                                        values(%s,%s,%s,%s,%s,%s)'''
data_from_map_transaction=Map_T.values.tolist()

cursor.executemany(insert_query,data_from_map_transaction)
p_db.commit()

In [99]:
create_query='''create table if not exists map_user(State VARCHAR(200),
                                                            Year int,
                                                            Quater int,
                                                            Districts VARCHAR(200),
                                                            Registered_Users BIGINT,
                                                            app_opens BIGINT
                                                            )'''
cursor.execute(create_query)
p_db.commit()
        
insert_query=''' INSERT into map_user(State, Year, Quater, Districts, Registered_Users, app_opens )
                    
                                        
                                        values(%s,%s,%s,%s,%s,%s)'''
data_from_map_user=Map_u.values.tolist()

cursor.executemany(insert_query,data_from_map_user)
p_db.commit()

# cursor.close()
# p_db.close()

In [108]:
create_query='''create table if not exists top_transaction(State VARCHAR(200),
                                                            Year int,
                                                            Quater int,
                                                            Pincodes INT,
                                                            Transaction_count BIGINT,
                                                            Transaction_amount BIGINT
                                                            )'''
cursor.execute(create_query)
p_db.commit()

insert_query=''' INSERT into top_transaction(State, Year, Quater, Pincodes, Transaction_count, Transaction_amount )


                                        values(%s,%s,%s,%s,%s,%s)'''
data_from_top_transaction=Top_trans.values.tolist()

cursor.executemany(insert_query,data_from_top_transaction)
p_db.commit()

In [109]:
create_query='''create table if not exists top_user(State VARCHAR(200),
                                                            Year int,
                                                            Quater int,
                                                            Pincodes INT,
                                                            Registered_Users BIGINT
                                                            )'''
cursor.execute(create_query)
p_db.commit()

insert_query=''' INSERT into top_user(State, Year, Quater, Pincodes, Registered_Users )


                                        values(%s,%s,%s,%s,%s)'''
data_from_top_user=Top_user.values.tolist()

cursor.executemany(insert_query,data_from_top_user)
p_db.commit()

In [115]:


#agg_transaction_df
cursor.execute('select * from agg_transaction')
p_db.commit()
df1=cursor.fetchall()
Aggregate_transaction = pd.DataFrame(df1,columns=('State','Year','Quater','Transaction_Type','Transaction_Count','Transaction_Amount'))


#agg_user_df
cursor.execute('select * from agg_user')
p_db.commit()
df2=cursor.fetchall()
Aggregate_user = pd.DataFrame(df2,columns=('State','Year','Quater','Brands','Transaction_Count','Percentage'))


#map_transaction_df
cursor.execute('select * from map_transaction')
p_db.commit()
df3=cursor.fetchall()
Map_transaction = pd.DataFrame(df3,columns=('State','Year','Quater','Districts','Transaction_Count','Transaction_Amount'))


#map_user_df
cursor.execute('select * from map_user')
p_db.commit()
df4=cursor.fetchall()
Map_user = pd.DataFrame(df4,columns=('State','Year','Quater','Districts','Registered_Users','App_Opens'))

#top_transaction_df
cursor.execute('select * from top_transaction')
p_db.commit()
df5=cursor.fetchall()
Top_transaction = pd.DataFrame(df5,columns=('State','Year','Quater','Pincodes','Transaction_Count','Transaction_Amount'))
#Top_transaction

#top_user_df
cursor.execute('select * from top_user')
p_db.commit()
df6=cursor.fetchall()
Top_user = pd.DataFrame(df6,columns=('State','Year','Quater','Pincodes','Registered_Users'))
#Top_user